#app {
    height: 100vh;
}

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-page .title {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    flex: 0 0 48px;    
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar .container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .container .logo {
    width: 280px;
}

.navbar .container .title {
    flex: 1
}

.home-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    margin-top: 28px;
    max-width: 1280px;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
    overflow: hidden;
}

.main-container .menu {
    width: 280px;
}

.main-container .content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.preloader {
    display: flex;
    justify-content: center;
    margin: 40px;
}


.fade-enter{
    opacity: 0;
 }
 .fade-exit{
    opacity: 1;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 500ms;
 }